<div id="header" class="container-fluid no-padding cg-header">
<div class="cng-header-outer">
    <div class="header-inner">
        <div class="cng-logo">
          <a href="/">
            <div title="cricingif" class="sprite-logo header-logo"></div>
          </a>
        </div>
        <div class="header-right">
          <div id="header-dynamic" class="login-action">
              <div data-target="#signInModal" data-toggle="modal">
                  <i class="icon-user"></i>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="cng-header-two-outer">
    <div class="header-inner">
        <div class="menu-actions">
          <span class="dropdown-tag dropdown dropdown-margin-30">
              <div class="btn-no-padding btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Series
              </div>
              <div id="main-series-dropdown" class="dropdown-menu dropdown-left-0 dropdown-menu-left" aria-labelledby="dropdownMenu2">
                  <div id="series-header-dropdown"></div>
              </div>
          </span>
          <a class="news-link ajax-link" href="/match">Matches</a>
          <a class="news-link ajax-link" href="/blogs">Blogs</a>
          <a class="news-link" href="/live-cricket-app">Apps</a>
          <a style="color:#a5c715;font-family:'poppins-semibold';">BPL 2017</a>
          <a href="/news/6306/Dennis-Does-Pakistan" style="color:#a5c715;font-family:'poppins-semibold';">Dennis Does Pakistan</a>
        </div>
    </div>
  </div>
  </div>