<div id="header" class="no-padding cg-header">
    <div class="cng-header-outer">
        <div class="header-inner">
            <div class="cng-logo">
                <a href="/">
                    <div title="cricingif" class="sprite-logo header-logo"></div>
                </a>
            </div>
            <div class="header-right">
                <div id="header-dynamic" class="login-action">
                    <div data-target="#signInModal" data-toggle="modal">
                        <i class="icon-user"></i>
                    </div>
                    <div class="menu-action">
                        <i class="icon-menu" 
                            onclick="document.getElementById('mobile-menu').classList.toggle('v-hide')">
                            M
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-menu-container v-hide" id="mobile-menu">
    <div class="text-right">
      <div class="nav-links-mob">
          <a href="/match"> Matches</a>
          <a href="/blogs"> Blogs</a>
          <a href="/live-cricket-app"> Apps</a>
          <a href="/series/1106/Bangladesh-Premier-League-2017" style="color:#a5c715;font-family:'poppins-semibold';">BPL 2017</a>
          <a href="/news/6306/Dennis-Does-Pakistan" style="color:#a5c715;font-family:'poppins-semibold';">Dennis Does Pakistan</a>
      </div>
      <div class="nav-links-mob-footer">
          <a href="/privacypolicy"> Privacy Policy</a>
          <a href="/termsandconditions"> Terms & Conditions</a>
          <a href="/contact"> Contact Us</a>
      </div>
      <div class="ft-app-links">
          <a href="https://itunes.apple.com/us/app/cricingif-fastest-live-scores/id1197899513?ls=1&mt=8">
              <img class="inline-block" alt="Download IPhone App" src="/images/assets/appstore_button.png">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.lts.cricingif">
              <img class="inline-block" alt="Download Android App" src="/images/assets/google_play_button.png">
          </a>
      </div>
    </div>
</div>