<!DOCTYPE html>
<html>
<head>
    <title><% title %></title>
    <meta name="description" content="Live cricket with fastest ball by ball updates ,live streaming, highlights and news. Download and check out our unique and unparalleled cricket coverage." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ESCAPED FRAGMENT FOR GOOGLE BOT -->
    <meta name="fragment" content="!">

    <style>
        <%- appCss %>
      </style>

      

</head>

<body>
    <!--header Section start-->
    <div class="container-fluid bgimg-1">
        <div class="row fixed-header">
            <div class="col-md-6 col-sm-6  col-xs-2">
                <div class="logo">
                    <a class="header-trigger" href="https://www.cricingif.com">
                     <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/Logo.png" class="img-responsive"></a>
                </div><!--end of logo-->
            </div><!--end of col-6-->
            <div>
                <ul class="topnav">
                    <li class="right button-download "><a class="downlaod-padding header-trigger" href="#Download">Download</a></li>
                    <li class="right topnav-hide padding-right "><a class="header-trigger" href="/match">Scores</a></li>
                    <li class="right topnav-hide  padding-right"><a class="header-trigger" href="/about">About</a></li>
                </ul>
            </div><!--end of navbar col-->
        </div><!--end of row-->

        <div class="row header-two-logo">
            <div class="col-md-12">
                <div id="images">
                    <a href="https://play.google.com/store/apps/details?id=com.lts.cricingif&referrer=utm_source%3Dpaid_facebook%26utm_medium%3Dapp_page%26utm_campaign%3DApp%2520Download%2520-%2520CTW" target="_self">
                        <img alt="Download Android App" class="applogo app-size-header app-header-trigger" border="0"  src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/googleplay.png" />
                    </a>
                    <a href="https://itunes.apple.com/us/app/cricingif-fastest-live-scores/id1197899513?ls=1&mt=8" target="_self">
                        <img alt="Download IPhone App" class="applogo app-size-header app-header-trigger" border="0"  src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/ios.png" />
                    </a>
                </div>
            </div>
        </div>

    </div><!--end of container-->
    <!--header section End-->
    <!--Section 1 Start containing 3 section naming 1,2,3 -->

    <div class="container-fluid  bg1">
        <!--Section 1 start-->
        <div class="container h  ">
            <div class="row  ">
                <div class="col-md-6 col-sm-6 col-xs-12 section1 text-left">
                    <h2>The Best Free Cricket Live App On The Internet</h2>
                    <div class="small-text"><span><small>We Are Offical Live Streaming Partners and Ball By Ball Clips Partners</small></span></div>
                    <div class="glyphicon glyphicon-ok small tick "></div>

                    <p class="content">We ensure a smooth and reliable high-quality stream.</p>

                    <div class="glyphicon glyphicon-ok small tick"></div>

                    <p class="content">Do not worry about questionable malware-filled streaming sites that infect your computer and then shut down after every fews days</p>

                </div><!--end col-md-6-->


                <div class="col-md-3 col-sm-6 col-xs-12  col-md-offset-3      img-margin-sec1  ">

                    <div class="back-img ">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec1back.png " class="img-responsive" alt="back image">
                    </div>
                    <div class="front-img">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec1front.jpg" class="img-responsive" alt="front image">
                    </div>
                </div><!--end col-md-3-->
            </div><!--end row-->
        </div><!--end container-->
        <!--Section 1 End-->
        <!--Section 2 start-->
        <div class="container h   ">
            <div class="row  section2">
                <div class="col-md-5 col-sm-6 col-xs-12  col-md-offset-1  con-sec2-margin    ">

                    <div class="back-img-sec2 ">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec2back.jpg " class="img-responsive" alt="back image">
                    </div>
                    <div class="front-img-sec2">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec2front.jpg" class="img-responsive" alt="front image">
                    </div>
                </div><!--end col-md-3-->

                <div class=" col-md-6 col-sm-6 col-xs-12 section2-margin-content ">
                    <h2>Viewing Experience Tailor-Made For Your Mobile</h2>
                    <div class="small-text"><span><small>Whats more, switch to landscape mode for a full-screen viewing experience!</small></span></div>

                    <div class="glyphicon glyphicon-ok small tick "></div>

                    <p class="content">For live cricket matches, click on a match to go direct to the live stream</p>

                    <div class="glyphicon glyphicon-ok small tick"></div>

                    <p class="content">For matches that have been completed, go directly to the ball by ball clips that will begin auto-playing the highlights for that match </p>

                    <div class="glyphicon glyphicon-ok small tick "></div>

                    <p class="content">Sit back, relax and enjoy</p>
                </div><!--end col-md-6-->
            </div><!--end row-->
        </div><!--end container-->
        <!--Section 2 End-->
        <!--Section 3 start-->
        <div class="container h">
            <div class="row ">
                <div class="col-md-6 col-sm-6 col-xs-12 section3 text-left ">
                    <h2>Live highlights for busy people on the go</h2>
                    <div class="small-text"><span><small>Get live highlights in the app with all the highlights up to that time</small></span></div>

                    <div class="glyphicon glyphicon-ok small tick "></div>

                    <p class="content">No waiting to sit down and watch a live stream </p>

                    <div class="glyphicon glyphicon-ok small tick"></div>
                    <p class="content">No wait until after the match for the highlights</p>

                </div><!--end col-md-6-->


                <div class="col-md-3 col-sm-6 col-xs-12  col-md-offset-3      img-margin-sec3  ">

                    <div class="back-img ">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec3back.jpg " class="img-responsive" alt="back image">
                    </div>
                    <div class="front-img">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec3front.jpg" class="img-responsive" alt="front image">
                    </div>
                </div><!--end col-md-3-->
            </div><!--end row-->
        </div><!--end container-->
        <!--Section 3 End-->

    </div><!--end container-fluid-->
    <!--Section 2 End containing 3 section naming 1,2,3 -->
    <!--Section 2 Start containing 3 section naming 1,2,3 -->

    <div class="container-fluid  bg1">
        <!--Section 1 start-->
        <div class="container h  ">
            <div class="row  ">
                <div class=" col-md-6 col-sm-6 col-xs-12 section1 text-left">
                    <h2>Filter and watch the most important clips</h2>
                    <div class="small-text"><span><small>All the important moments of a match at your fingertips</small></span></div>

                    <div class="glyphicon glyphicon-ok small tick "></div>

                    <p class="content">Do not have to sit in front of a TV all day for an ODI, or five days for a Test match</p>

                    <div class="glyphicon glyphicon-ok small tick"></div>

                    <p class="content">Simply tap on the filters tab and select what you would like to watch: everything, boundaries, wickets only, or the complete match ball by ball highlights?</p>

                </div><!--end col-md-6-->
                <!--start of col-md-3-->
                <div class="col-md-3 col-sm-6 col-xs-12  col-md-offset-3      img-margin-sec1  ">

                    <div class="back-img ">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec4back.jpg " class="img-responsive" alt="back image">
                    </div>
                    <div class="front-img">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec4front.png" class="img-responsive" alt="front image">
                    </div>
                </div><!--end col-md-3-->
            </div><!--end row-->
        </div><!--end container-->
        <!--Section 1 End-->
        <!--Section 2 start-->
        <div class="container h   ">
            <div class="row  section2">
                <div class="col-md-5 col-sm-6 col-xs-12  col-md-offset-1  con-sec2-margin    ">

                    <div class="back-img-sec2 ">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec5back.jpg " class="img-responsive" alt="back image">
                    </div>
                    <div class="front-img-sec2">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec5front.jpg" class="img-responsive" alt="front image">
                    </div>
                </div><!--end col-md-3-->

                <div class=" col-md-6 col-sm-6 col-xs-12 section2-margin-content ">
                    <h2>Watch your favorite players innings</h2>
                    <div class="small-text"><span><small>On-Demand video clips for when you want to watch the innings of a particular batsman or the spell of a particular bowler</small></span></div>

                    <div class="glyphicon glyphicon-ok small tick "></div>

                    <p class="content">Open the Filters tab and select the player</p>

                    <div class="glyphicon glyphicon-ok small tick"></div>

                    <p class="content">Interested in a face-off between batsman and bowler? Select both and watch each one of the deliveries the bowler bowled to that particular batsman</p>

                </div><!--end col-md-6-->
            </div><!--end row-->
        </div><!--end container-->
        <!--Section 2 End-->
        <!--Section 3 start-->
        <div class="container h">
            <div class="row ">
                <div class=" col-md-6 col-sm-6 col-xs-12 section3 text-left ">
                    <h2>Fastest live scores </h2>
                    <div class="small-text"><span><small>Stay updated before anybody else</small></span></div>

                    <div class="glyphicon glyphicon-ok small tick "></div>
                    <p class="content">Open the Cricingif Live Cricket app and open the match page</p>

                    <div class="glyphicon glyphicon-ok small tick"></div>
                    <p class="content">We wll send you push notifications every time something important happens </p>

                    <div class="glyphicon glyphicon-ok small tick"></div>
                    <p class="content">Check it out before it’s even on the live stream or television elsewhere</p>

                </div><!--end col-md-6-->


                <div class="col-md-3 col-sm-6 col-xs-12  col-md-offset-3      img-margin-sec3  ">

                    <div class="back-img ">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec6back.jpg " class="img-responsive" alt="back image">
                    </div>
                    <div class="front-img">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec6front.jpg" class="img-responsive" alt="front image">
                    </div>
                </div><!--end col-md-3-->
            </div><!--end row-->
        </div><!--end container-->
        <!--Section 3 End-->

    </div><!--end container-fluid-->
    <!--Section 2 End containing 3 section naming 1,2,3 -->
    <!--Section 2 Start containing 3 section naming 1,2,3 -->

    <div class="container-fluid  bg1">
        <!--Section 1 start-->
        <div class="container h  ">
            <div class="row  ">
                <div class=" col-md-6 col-sm-6 col-xs-12 section1 text-left">
                    <h2>Follow your heroes</h2>
                    <div class="small-text"><span><small>Get notified when your favorite team plays and your favorite cricket star is back in action</small></span></div>

                    <div class="glyphicon glyphicon-ok small tick "></div>
                    <p class="content">Set your favorite team and player preferences </p>

                    <div class="glyphicon glyphicon-ok small tick"></div>
                    <p class="content">We will let you know as soon as the match is about to start!</p>

                </div><!--end col-md-6-->


                <div class="col-md-3 col-sm-6 col-xs-12  col-md-offset-3      img-margin-sec1  ">

                    <div class="back-img ">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec7back.jpg " class="img-responsive" alt="back image">
                    </div>
                    <div class="front-img">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec7front.jpg" class="img-responsive" alt="front image">
                    </div>
                </div><!--end col-md-3-->
            </div><!--end row-->
        </div><!--end container-->
        <!--Section 1 End-->
        <!--Section 2 start-->
        <div class="container h   ">
            <div class="row  section2">
                <div class="col-md-5 col-sm-6 col-xs-12  col-md-offset-1  con-sec2-margin    ">

                    <div class="back-img-sec2 ">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/section8-back.png " class="img-responsive" alt="back image">
                    </div>
                    <div class="front-img-sec2">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/section8-front.png" class="img-responsive" alt="front image">
                    </div>
                </div><!--end col-md-3-->

                <div class=" col-md-6 col-sm-6 col-xs-12 section2-margin-content ">
                    <h2>Predict a live cricket match and win! </h2>
                    <div class="small-text"><span><small>How well do you really know the game? </small></span></div>

                    <div class="glyphicon glyphicon-ok small tick "></div>
                    <p class="content">Predict what will happen on each ball</p>

                    <div class="glyphicon glyphicon-ok small tick"></div>
                    <p class="content">Get the most ball by ball predictions to win cool prizes every month and every series</p>

                    <div class="glyphicon glyphicon-ok small tick "></div>
                    <p class="content">Challenge your friends to a duel to see who really the best at understanding the game</p>

                </div><!--end col-md-6-->
            </div><!--end row-->
        </div><!--end container-->
        <!--Section 2 End-->
        <!--Section 3 start-->
        <div class="container h">
            <div class="row ">
                <div class=" col-md-6 col-sm-6 col-xs-12 section3 text-left ">
                    <h2>Everything from around the world of cricket</h2>
                    <div class="small-text"><span><small>The latest international cricket news and the most interesting opinions from around the world</small></span></div>

                    <div class="glyphicon glyphicon-ok small tick "></div>
                    <p class="content">With Cricingif, stay up to date on events as they happen around the world</p>

                    <div class="glyphicon glyphicon-ok small tick"></div>
                    <p class="content">We will send you push notifications every time something important happens </p>

                    <div class="glyphicon glyphicon-ok small tick"></div>
                    <p class="content">Gain interesting insights from our team of international journalists</p>

                </div><!--end col-md-6-->


                <div class="col-md-3 col-sm-6 col-xs-12  col-md-offset-3      img-margin-sec3  ">

                    <div class="back-img ">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec9back.jpg " class="img-responsive" alt="back image">
                    </div>
                    <div class="front-img">
                        <img src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/sec9front.jpg" class="img-responsive" alt="front image">
                    </div>
                </div><!--end col-md-3-->
            </div><!--end row-->
        </div><!--end container-->
        <!--Section 3 End-->

    </div><!--end container-fluid-->
    <!--Section 2 End containing 3 section naming 1,2,3 -->
    <!--App portion Start-->
    <div class="container-fluid bg-app-color ">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="font-size">Download this <span class="app-portion-color">awesome </span> app</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <small class="font-size1"> AVAILABLE FOR IOS AND ANDROID </small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="images">
                    <a href="https://play.google.com/store/apps/details?id=com.lts.cricingif&referrer=utm_source%3Dpaid_facebook%26utm_medium%3Dapp_page%26utm_campaign%3DApp%2520Download%2520-%2520CTW" target="_self">
                        <img alt="Download Android App" class="applogo app-size app-footer-trigger" border="0" src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/googleplay.png" />
                    </a>
                    <a href="https://itunes.apple.com/us/app/cricingif-fastest-live-scores/id1197899513?ls=1&mt=8" target="_self">
                        <img alt="Download IPhone App" class="applogo app-size app-footer-trigger" border="0" src="https://d7d7wuk1a7yus.cloudfront.net/static-assets/apps/ios.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--App portion End-->
  
    <!-- Essential javascript for Page -->
    <script rel="preload" as="script" src="js/lib/jquery-3.1.1.min.js"></script>
    <script rel="preload" as="script" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            var imageHeight = $(".bgimg-1").height() - 98;
            if (scroll > imageHeight) {
                $(".fixed-header").addClass("blue-container").fadeIn("slow");
                $(".topnav").addClass("right").fadeIn("slow");
                $(".topnav-hide").show();
            }
            else {
                $(".fixed-header").removeClass("blue-container");
                $(".topnav-hide").hide();

            }
        });

        $(".downlaod-padding").click(function () {
            $('html,body').animate({
                scrollTop: $(".bg-app-color").offset().top
            },
                2000);
        });

        $(".logo").click(function () {
            window.location.href = "cricingif.com";
        });	
</script>


    <!-- End Facebook Pixel Code -->
</body>
</html>