<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="css/main.css" rel="stylesheet"/>

  </head>
  <body class="container-fluid no-padding" style="padding: 0;">
        <%- include partials/header.ejs %>

  	    <%- include partials/footer.ejs %>
  </body`>
</html>
