.top-border-line {
    @media (max-width: 767px) {
            border-top: 1px solid rgba(0,0,0,.08)!important;
        
            .rw-title {
                font-size: .9em;
                font-family: "poppins-semibold";
                padding: 20px;
                border-bottom: 1px solid rgba(0,0,0,.1);
            }
        
            .tr-content {
                padding: 20px;
                font-size: 0.9em;
                height: 160px;
                overflow: scroll;
        
                a {
                    color: #337ab7;
                    text-decoration: none;
        
                    &:hover {
                        color: black;
                        text-decoration: underline;
                    }
                    p {
                        font-family: "poppins-semibold";
                        margin: 0 0 10px;
                    }
                }
            }
    }
}
.mobile-score-widget {
    .mobile-match-details {
        overflow: hidden;

        .horizontal-slider {
            overflow-x: scroll;
            cursor: pointer;

            .match-info-wrapper {
                display: flex;
            }
        }
    }
}

.right-widget {
    @media (max-width: 767px) {
        display: flex;

        .hide-mobile-screen {
            display: none;
        }

        .match-container {
            width: 270px;
        }
        .flag-and-name {
            span {
                font-size: 1.1em !important;
            }
        }
        .score-and-overs-container {
            .score-and-overs {   
                font-size: 10px !important;
            }
        }
        .match-headline {
            p {
                font-size: .7em !important;
            }
        }
        .match-score-inner-edit {
            min-height: 85px !important;
        }
    }
    .recently-finished {
        @media (max-width: 767px) {
            display: flex;
        }
        a {
            @media (max-width: 767px) {
                background: white;
                margin-right: 5px;
            }   
        }
    }
    .anchorcolor {
        color: #000!important;
        text-decoration: none;
        background-color: transparent;

        .match-container {
            padding: 0;

            .time-remaining-in-match {
                display: flex;
                justify-content: center;
                padding-top: 5px;
            }
            .completed-text {
                font-size: .7em;
                color: #000;
                text-transform: uppercase;
            }
            .match-score-inner-edit {
                padding: 15px;
                min-height: 110px;
                border-bottom: 1px solid rgba(199,230,68,.11)!important;


                .mc-top-container-edit {
                    padding: 0!important;
                    height: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .live-tag {
                        background-color: #a2c21b;
                        border-top-left-radius: 10px;
                        padding: 2px 5px 0 6px;
                        border-bottom-left-radius: 10px;
                        display: inline-block;
                        margin-top: 0;
                        padding-top: 0;

                        p {
                            text-transform: uppercase;
                            font-size: .8em;
                            color: #fff;
                            margin: 0;
                        }
                    }
                    .match-headline {
                        display: inline-block;
                        width: 70%;
                        margin-left: 0;

                        p {
                            font-size: .8em;
                            color: #9b9b9b;
                            margin: 0;
                        }
                        .truncate-text {
                            width: 170px;
                            white-space: nowrap!important;
                            overflow: hidden!important;
                            text-overflow: ellipsis;
                        }
                        .completed-text {
                            font-size: .8em;
                            color: #000;
                            text-transform: uppercase;
                        }
                    }
                }
                .match-score-container-edit {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 10px;

                    .flag-and-name {
                        img {
                            width: 22px;
                            vertical-align: top;
                        }
                        span {
                            font-size: 1.2em;
                            margin-left: 5px;
                            margin-right: 5px;
                            vertical-align: bottom;
                            font-family: poppins-semibold;
                            white-space: nowrap;
                            overflow: hidden !important;
                            max-width: 68%;
                            word-spacing: -4px;
                            text-overflow: ellipsis;
                        }
                        .score-and-overs {
                            margin-top: 5px;
                            font-size: 12px;
                            color: #666;
                            margin-bottom: 0!important;
                            // font-size: 0.7em;
                        }
                        .currently-playing-arrow {
                            width: 0;
                            height: 0;
                            border-top: 5px solid transparent;
                            border-bottom: 5px solid transparent;
                            border-right: 7px solid #bfe22f;
                            float: left;
                            margin-left: 2px;
                            margin-top: 2px;
                        }
                        .score-and-overs-container {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .score-and-overs {
                                margin-top: 5px;
                                font-size: 12px;
                                color: #666;
                                margin-bottom: 0!important;
                            }
                        }
                    }

                    .team-one-container {
                        width: 40%;
                        display: flex;
                        justify-content: flex-start;
                    }
                    .versus-container-parent {
                        .versus-container {
                            width: 25px;
                            border: 1px solid rgba(165,199,21,.63)!important;
                            border-radius: 50%;
                            height: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            span {
                                font-size: .8em;
                                color: #9b9b9b;
                            }
                        }
                    }
                    .team-two-container {
                        text-align: center;
                        width: 40%;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
    .schedules-spacing {
        padding-top: 20px;
        background-color: #f4f4f4;
    }
}
.right-column-box {
    width: 100%;
    background-color: #fff;
    margin-top: 20px;
    position: relative;

    .text-menu-bar {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, .08);

        .action-text {
            display: inline-block;
            text-align: center;

            span {
                text-transform: uppercase;
                font-family: "poppins-semibold";
                margin-left: 16px;
                color: #cecece;
                cursor: pointer;
                font-size: 1em
            }
        }
    }
    .icon-menu-bar {
        border-bottom: 1px solid rgba(0,0,0,.08);
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        
        .action-icons {
            width: 18.5%;
            display: inline-block;
            text-align: center;

            i {
                font-size: 1.5em;
                cursor: pointer;
                color: #cecece;

                &::hover {
                    color: #c6e545 !important;
                }
                @media (min-width: 768px) and (max-width: 1230px) {
                    font-size: 1em;
                }
            }
            
            a {
                border: transparent !important;
            }
        }
    }
    .tab-content {
        height: 544px;
        cursor: pointer;

        .bg-color-green {
            background-color: #c7e644!important;
            color: #fff;

            p {
                text-transform: uppercase;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                margin: 0;
                font-family: poppins-semibold;
                font-size: .9em;
                border-top: 1px solid rgba(199,230,68,.11)!important;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        #top-scrolled-category {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
        }
    }
}