.sprite-logo, .sprite-appstore-button, .sprite-google-play-button, .sprite-linkedin-footer-button, .sprite-twitter-footer-button, 
.sprite-facebook-footer-button, .sprite-google-plus-footer-button, .sprite-instagram-footer-button, .sprite-rss-feed-footer-button, .sprite-favicon, 
.sprite-vr-logo, .sprite-warwickshire, .sprite-adelaidestrikers, .sprite-adelaidestrikers-0, .sprite-afghanistan, 
.sprite-afghanistan-0, .sprite-afghanistanunder-19s, .sprite-afghanistanunder-19s-0, .sprite-australia, .sprite-australiaunder-19s, 
.sprite-australiawomen, .sprite-bangladesh, .sprite-bangladeshunder-19s, .sprite-barbadostridents, .sprite-barisalbulls, 
.sprite-bengaltigers, .sprite-brisbaneheat, .sprite-canadaunder-19s, .sprite-chittagongvikings, .sprite-citykaitak, 
.sprite-comillavictorians, .sprite-delhidaredevils, .sprite-dhakadynamites, .sprite-england, .sprite-englandunder-19s, 
.sprite-englandwomen, .sprite-galaxygladiatorslantau, .sprite-gujratlions, .sprite-guyanaamazonwarriors, .sprite-hobarthurricanes, 
.sprite-hongkong, .sprite-hongkongislandunited, .sprite-hunghomjdjaguars, .sprite-iccworldxi, .sprite-india, 
.sprite-indiaunder-19s, .sprite-indiawomen, .sprite-ireland, .sprite-irelandunder-19s, .sprite-islamabadunited, 
.sprite-jamaicatallawahs, .sprite-karachikings, .sprite-kenyaunder-19s, .sprite-keralakings, .sprite-khulnatitans, 
.sprite-kingsxipunjab, .sprite-kolkataknightriders, .sprite-kowlooncantons, .sprite-lahoreqalanders, .sprite-lancashirelightning, 
.sprite-marathaarabians, .sprite-melbournerenegades, .sprite-melbournestars, .sprite-multansultans, .sprite-mumbaiindians, 
.sprite-namibiaunder-19s, .sprite-netherlands, .sprite-newzealand, .sprite-newzealandunder-19s, .sprite-newzealandwomen, 
.sprite-oman, .sprite-pakhtoons, .sprite-pakistan, .sprite-pakistanunder-19s, .sprite-pakistanwomen, 
.sprite-papuanewguinea, .sprite-papuanewguineaunder-19s, .sprite-perthscorchers, .sprite-peshawarzalmi, .sprite-punjabilegends, 
.sprite-quettagladiators, .sprite-rajshahikings, .sprite-rangpurriders, .sprite-risingpunesupergiants, .sprite-royalchallengersbanglore, 
.sprite-scotland, .sprite-southafrica, .sprite-southafricaunder-19s, .sprite-southafricawomen, .sprite-srilanka, 
.sprite-srilankaunder-19s, .sprite-srilankawomen, .sprite-stkittsandnevispatriots, .sprite-stluciazouks, .sprite-sunrisershyderabad, 
.sprite-sydneysixers, .sprite-sydneythunder, .sprite-sylhetsixers, .sprite-tbd, .sprite-teamsrilankacricket, 
.sprite-trinbagoknightriders, .sprite-unitedarabemirates, .sprite-westindies, .sprite-westindiesunder-19s, .sprite-westindieswomen, 
.sprite-zimbabwe, .sprite-zimbabweunder-19s, .sprite-durhamjets, .sprite-stluciastars, .sprite-mccworldxi, 
.sprite-sprite
{ display: inline-block; background: url('/icon-spritesheet.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.sprite-logo { background-position: -0px -0px; width: 154px; height: 83px; }
.sprite-appstore-button { background-position: -0px -83px; width: 115px; height: 37px; }
.sprite-google-play-button { background-position: -0px -120px; width: 114px; height: 37px; }
.sprite-linkedin-footer-button { background-position: -0px -157px; width: 41px; height: 40px; }
.sprite-twitter-footer-button { background-position: -41px -157px; width: 41px; height: 40px; }
.sprite-facebook-footer-button { background-position: -114px -120px; width: 40px; height: 40px; }
.sprite-google-plus-footer-button { background-position: -82px -160px; width: 40px; height: 40px; }
.sprite-instagram-footer-button { background-position: -0px -197px; width: 40px; height: 40px; }
.sprite-rss-feed-footer-button { background-position: -40px -197px; width: 40px; height: 41px; }
.sprite-favicon { background-position: -115px -83px; width: 32px; height: 32px; }
.sprite-vr-logo { background-position: -122px -160px; width: 26px; height: 30px; }
.sprite-warwickshire { background-position: -122px -190px; width: 22px; height: 13px; }
.sprite-adelaidestrikers { background-position: -80px -200px; width: 22px; height: 22px; }
.sprite-adelaidestrikers-0 { background-position: -102px -203px; width: 22px; height: 21px; }
.sprite-afghanistan { background-position: -124px -203px; width: 22px; height: 22px; }
.sprite-afghanistan-0 { background-position: -80px -222px; width: 22px; height: 21px; }
.sprite-afghanistanunder-19s { background-position: -102px -224px; width: 22px; height: 22px; }
.sprite-afghanistanunder-19s-0 { background-position: -124px -225px; width: 22px; height: 21px; }
.sprite-australia { background-position: -0px -237px; width: 22px; height: 22px; }
.sprite-australiaunder-19s { background-position: -22px -238px; width: 22px; height: 22px; }
.sprite-australiawomen { background-position: -44px -238px; width: 22px; height: 22px; }
.sprite-bangladesh { background-position: -66px -243px; width: 22px; height: 22px; }
.sprite-bangladeshunder-19s { background-position: -88px -246px; width: 22px; height: 22px; }
.sprite-barbadostridents { background-position: -110px -246px; width: 22px; height: 22px; }
.sprite-barisalbulls { background-position: -132px -246px; width: 22px; height: 22px; }
.sprite-bengaltigers { background-position: -0px -259px; width: 22px; height: 22px; }
.sprite-brisbaneheat { background-position: -22px -260px; width: 22px; height: 22px; }
.sprite-canadaunder-19s { background-position: -44px -260px; width: 22px; height: 22px; }
.sprite-chittagongvikings { background-position: -66px -265px; width: 22px; height: 22px; }
.sprite-citykaitak { background-position: -88px -268px; width: 22px; height: 22px; }
.sprite-comillavictorians { background-position: -110px -268px; width: 22px; height: 22px; }
.sprite-delhidaredevils { background-position: -132px -268px; width: 22px; height: 22px; }
.sprite-dhakadynamites { background-position: -0px -281px; width: 22px; height: 22px; }
.sprite-england { background-position: -22px -282px; width: 22px; height: 22px; }
.sprite-englandunder-19s { background-position: -44px -282px; width: 22px; height: 22px; }
.sprite-englandwomen { background-position: -66px -287px; width: 22px; height: 22px; }
.sprite-galaxygladiatorslantau { background-position: -88px -290px; width: 22px; height: 22px; }
.sprite-gujratlions { background-position: -110px -290px; width: 22px; height: 22px; }
.sprite-guyanaamazonwarriors { background-position: -132px -290px; width: 22px; height: 22px; }
.sprite-hobarthurricanes { background-position: -0px -303px; width: 22px; height: 22px; }
.sprite-hongkong { background-position: -22px -304px; width: 22px; height: 22px; }
.sprite-hongkongislandunited { background-position: -44px -304px; width: 22px; height: 22px; }
.sprite-hunghomjdjaguars { background-position: -66px -309px; width: 22px; height: 22px; }
.sprite-iccworldxi { background-position: -88px -312px; width: 22px; height: 20px; }
.sprite-india { background-position: -110px -312px; width: 22px; height: 22px; }
.sprite-indiaunder-19s { background-position: -132px -312px; width: 22px; height: 22px; }
.sprite-indiawomen { background-position: -0px -325px; width: 22px; height: 22px; }
.sprite-ireland { background-position: -22px -326px; width: 22px; height: 22px; }
.sprite-irelandunder-19s { background-position: -44px -326px; width: 22px; height: 22px; }
.sprite-islamabadunited { background-position: -66px -331px; width: 22px; height: 22px; }
.sprite-jamaicatallawahs { background-position: -88px -332px; width: 22px; height: 22px; }
.sprite-karachikings { background-position: -110px -334px; width: 22px; height: 22px; }
.sprite-kenyaunder-19s { background-position: -132px -334px; width: 22px; height: 22px; }
.sprite-keralakings { background-position: -0px -347px; width: 22px; height: 22px; }
.sprite-khulnatitans { background-position: -22px -348px; width: 22px; height: 22px; }
.sprite-kingsxipunjab { background-position: -44px -348px; width: 22px; height: 22px; }
.sprite-kolkataknightriders { background-position: -66px -353px; width: 22px; height: 22px; }
.sprite-kowlooncantons { background-position: -88px -354px; width: 22px; height: 22px; }
.sprite-lahoreqalanders { background-position: -110px -356px; width: 22px; height: 22px; }
.sprite-lancashirelightning { background-position: -132px -356px; width: 22px; height: 22px; }
.sprite-marathaarabians { background-position: -0px -369px; width: 22px; height: 22px; }
.sprite-melbournerenegades { background-position: -22px -370px; width: 22px; height: 22px; }
.sprite-melbournestars { background-position: -44px -370px; width: 22px; height: 22px; }
.sprite-multansultans { background-position: -66px -375px; width: 22px; height: 22px; }
.sprite-mumbaiindians { background-position: -88px -376px; width: 22px; height: 22px; }
.sprite-namibiaunder-19s { background-position: -110px -378px; width: 22px; height: 22px; }
.sprite-netherlands { background-position: -132px -378px; width: 22px; height: 22px; }
.sprite-newzealand { background-position: -0px -391px; width: 22px; height: 22px; }
.sprite-newzealandunder-19s { background-position: -22px -392px; width: 22px; height: 22px; }
.sprite-newzealandwomen { background-position: -44px -392px; width: 22px; height: 22px; }
.sprite-oman { background-position: -66px -397px; width: 22px; height: 22px; }
.sprite-pakhtoons { background-position: -88px -398px; width: 22px; height: 22px; }
.sprite-pakistan { background-position: -110px -400px; width: 22px; height: 22px; }
.sprite-pakistanunder-19s { background-position: -132px -400px; width: 22px; height: 22px; }
.sprite-pakistanwomen { background-position: -0px -413px; width: 22px; height: 22px; }
.sprite-papuanewguinea { background-position: -22px -414px; width: 22px; height: 22px; }
.sprite-papuanewguineaunder-19s { background-position: -44px -414px; width: 22px; height: 22px; }
.sprite-perthscorchers { background-position: -66px -419px; width: 22px; height: 22px; }
.sprite-peshawarzalmi { background-position: -88px -420px; width: 22px; height: 22px; }
.sprite-punjabilegends { background-position: -110px -422px; width: 22px; height: 22px; }
.sprite-quettagladiators { background-position: -132px -422px; width: 22px; height: 22px; }
.sprite-rajshahikings { background-position: -0px -435px; width: 22px; height: 22px; }
.sprite-rangpurriders { background-position: -22px -436px; width: 22px; height: 22px; }
.sprite-risingpunesupergiants { background-position: -44px -436px; width: 22px; height: 22px; }
.sprite-royalchallengersbanglore { background-position: -66px -441px; width: 22px; height: 22px; }
.sprite-scotland { background-position: -88px -442px; width: 22px; height: 22px; }
.sprite-southafrica { background-position: -110px -444px; width: 22px; height: 22px; }
.sprite-southafricaunder-19s { background-position: -132px -444px; width: 22px; height: 22px; }
.sprite-southafricawomen { background-position: -0px -457px; width: 22px; height: 22px; }
.sprite-srilanka { background-position: -22px -458px; width: 22px; height: 22px; }
.sprite-srilankaunder-19s { background-position: -44px -458px; width: 22px; height: 22px; }
.sprite-srilankawomen { background-position: -66px -463px; width: 22px; height: 22px; }
.sprite-stkittsandnevispatriots { background-position: -88px -464px; width: 22px; height: 22px; }
.sprite-stluciazouks { background-position: -110px -466px; width: 22px; height: 22px; }
.sprite-sunrisershyderabad { background-position: -132px -466px; width: 22px; height: 22px; }
.sprite-sydneysixers { background-position: -0px -479px; width: 22px; height: 22px; }
.sprite-sydneythunder { background-position: -22px -480px; width: 22px; height: 22px; }
.sprite-sylhetsixers { background-position: -44px -480px; width: 22px; height: 22px; }
.sprite-tbd { background-position: -66px -485px; width: 22px; height: 22px; }
.sprite-teamsrilankacricket { background-position: -88px -486px; width: 22px; height: 22px; }
.sprite-trinbagoknightriders { background-position: -110px -488px; width: 22px; height: 22px; }
.sprite-unitedarabemirates { background-position: -132px -488px; width: 22px; height: 22px; }
.sprite-westindies { background-position: -0px -501px; width: 22px; height: 22px; }
.sprite-westindiesunder-19s { background-position: -22px -502px; width: 22px; height: 22px; }
.sprite-westindieswomen { background-position: -44px -502px; width: 22px; height: 22px; }
.sprite-zimbabwe { background-position: -66px -507px; width: 22px; height: 22px; }
.sprite-zimbabweunder-19s { background-position: -88px -508px; width: 22px; height: 22px; }
.sprite-durhamjets { background-position: -110px -510px; width: 21px; height: 22px; }
.sprite-stluciastars { background-position: -131px -510px; width: 18px; height: 22px; }
.sprite-mccworldxi { background-position: -0px -523px; width: 17px; height: 22px; }
.sprite-sprite { background-position: -147px -83px; width: 1px; height: 22px; }