@import "lib/bootstrap/custom-bootstrap";
@import "icons-sprite-sheet";
@import "themes/header/header-desktop";
@import "themes/footer/footer";
@import "cig-fonts";
@import "common/scroller";
@import "common/schedule-widget";
@import "common/google-adds";
@import "common/app-common";

.wrapper-inner {
    max-width: 1260px;
    height: 100%;
    margin: 0 auto;

    .login-container-right {
        padding: 30px;
        text-align: center;
        margin-top: 40%;
    }

    .no-margin{
        margin: 0px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    #loadMore{
        padding-bottom: 30px;
        padding-top: 5px;
        text-align: center;
        width: 100%;
        display: inline-block;
        a{
            background: #333;
            border-radius: 3px;
            color: white;
            display: inline-block;
            margin-top: 30px;
            padding: 10px 30px;
            transition: all 0.25s ease-out;
            -webkit-font-smoothing: antialiased;
            &:hover{
                cursor: pointer;
            }
        }
    }

    .no-squad-response{
        padding-top: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #aaa;
        text-align: center;
    }

    .inline-block {
        display: inline-block;
    }
    right-outer-container{
        .right-column-box {
            padding: unset;
        }
    }

    #team-squad{
        .right-column{
            margin-top: 20px;
        }
    }

    .padding-left-8{
        padding-left: 8px;
        text-align: center !important;
    }
    .box-padding-top-25 {
        line-height: 1.2;
        padding-left: 25px;
    
        .main-series-title {
            font-size: 24px;
            font-weight: bold;
        }
    
        .main-series-detail {
            font-size: 15px;
            color: gray;
        }
    }
    .wrapper-inner .hm-lt-row {
        margin-right: 0;
    }

    .no-padding {
        padding: 0!important;
    }

    .inline {
        display: inline;
    }

    #headline-article {
        margin-bottom: 20px!important;
    }

    .margin-bottom-20 {
        margin-bottom: 20px;
    }

    a {
        color: #337ab7;
        text-decoration: none;
    }

    .article-title-link {
        color: white;
    }

    .wrapper {
        position: relative;
        width: 100%;
        

        .sixteen-by-nine {
            background-image: none;
            background-position: center !important;
            padding-bottom: 0%;
            background-size: cover !important
        }

        .content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            .blog-pic-overlay {
                bottom: 0;
                position: absolute;
                width: 100%;
                height: 260px;
                transition: opacity .25s linear;
                z-index: 1;
                background: -o-linear-gradient(transparent,#000);
                background: -moz-linear-gradient(transparent,#000);
                background: linear-gradient(transparent,rgba(0,0,0,1));

                .blog-overlay-sub-title {
                    color: #fff;
                    font-size: .9em;
                    margin-top: 10px;
                    margin-left: 20px;
                    margin-right: 20px;
                    text-transform: uppercase;
                }

                // .blog-overlay-title-hm {
                //     margin-top: 10px;
                //     font-size: 1.7em;
                //     height: 70px;

                //     h2 {
                //         font-size: 23.8px;

                //     }
                // }

                .blog-overlay-title {
                    color: #fff;
                    font-family: "poppins-semibold";
                    margin-top: 20px;
                    margin-left: 20px;
                    margin-right: 20px;
                    overflow: hidden;
                }

                .bl-overlay-match-details {
                    margin-left: 20px;
                    margin-top: 15px;
                    font-size: .9em;
                    text-transform: uppercase;

                    p:first-child {
                        color: red;
                        margin-left: 0;
                    }
                    p{
                        margin-left: 20px;
                        color: #f7f7f7;
                    }
                }
            }
        }
    }

    .news-sm-block {
        padding-right: 20px;
        margin-top: 14px;

        .news-sm-content-wrapper 
            {
                // border: 1px solid rgba(0,0,0,.1);
                border-top: none;
                padding: 15px 15px 20px;
                background-color: #fff;

                .series-head-title-text {
                    width: 75%;
                    height: 20px;
                    font-size: .9em!important;
                    font-family: "poppins-semibold"!important;
                    overflow: hidden;
                    color: #c6e545;
                }

                .news-sub-title {
                    height: 40px;
                    margin-top: 10px;
                    color: black;
                    font-weight: bold;
                    overflow: hidden;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                .news-copy-text {
                    margin-top: 10px;
                    height: 60px;
                    overflow: hidden;

                    .copy-text {
                        color: #666;
                        margin: 0 0 10px;

                        
                    }
                }
            }
    }

    .top-border-line {
        border-top: 1px solid rgba(0,0,0,.08)!important;
    
        .rw-title {
            font-size: .9em;
            font-family: "poppins-semibold";
            padding: 20px;
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
    
        .tr-content {
            padding: 20px;
            font-size: 1em;
    
            a {
                color: #337ab7;
                text-decoration: none;
    
                &:hover {
                    color: black;
                    text-decoration: underline;
                }
                p {
                    font-family: "poppins-semibold";
                    margin: 0 0 10px;
                }
            }
        }
    }

    #trending-article {
        .rw-title {
            border-bottom: unset;
            p {
                color: #b5d91e;
                text-transform: uppercase;
            }
        }

        .tr-content {
            font-size: 0.9em;
        }
    }

    .blogs-hm-section-two {
        padding-bottom: 20px;
    }

    .blog-overlay-tag {
        background: #2c3a42;
        display: inline-block;
        padding: 5px 20px;
        color: #c6e545;
        margin-left: 20px;
        font-family: "poppins-semibold";
        text-transform: uppercase;
    }
    .featured-article-desc-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .author-details-sm {
            margin-left: 15px;
            margin-top: 20px;
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;

            img {
                border-radius: 50%;
            }

            p {
                color: #fff;
                margin-left: 5px;
            }
        }

        .blog-time-and-comments {
            margin-top: 25px;
            margin-right: 15px;
            color: #949494;
            display: flex;
            justify-content: space-between;
        }

        .inline {
            display: inline;
        }
    }

    .right-column {
        width: 100%;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.08);
        padding: 20px;

        .detail-text {
            font-size: .9em!important;
            font-family: "poppins-semibold"!important;

            p {
                color: #b5d91e;
                text-transform: uppercase;
                margin: 0 0 10px;
            }
            .no-margin-bottom {
                margin-bottom: 0!important;
            }
        }

        .copy-text {
            font-size: 1em!important;
            color: #666;

            .no-margin-bottom {
                margin-bottom: 0!important;
            }
            p {
                margin: 0 0 10px;
            }
        }

        .three-dots {
            background: url(https://d7d7wuk1a7yus.cloudfront.net/static-assets/three_dots.png);
            background-size: cover;
            width: 18px;
            height: 4px;
            margin-top: 4px;
            cursor: pointer;
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            z-index: 1000;
            float: left;
            min-width: 160px;
            padding: 0 0;
            margin: 2px 0 0;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,.15);
            right: 0;
            left: inherit;

            li {
                border-bottom: 1px solid rgba(0,0,0,0.1);

                a{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    display: block;
                    padding: 3px 20px;
                    
                    color: #333;
                    
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }

        .teams-table {
            width: 100%;
        }

    }

    
    .squad-row {
        display: inline-flex;
        padding-top: 20px;

        .squad-order{
            padding-top: 15px;
        }

        .squad-pic { 
            padding-left: 15px; 

        img {
            width: 45px;
            height: 45px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
        }
    }
        .squad-name{
            padding-top: 3px;
            padding-left: 14px;
        }
        .squad-description {
            font-size: 12px;
            color: #aaa!important;
            padding-left: 14px;
        }
    }
    .Squad-text {
        text-transform: uppercase;
        color: #aaa;
        text-align: center;
    }

    #pool-points-table-container {
        .copy-text{
            font-size: 1em!important;
            color: #666;
            padding-top: 10px;
        }

        .teams-table {
            width: 100%;
            margin-top: 12px!important;
        }

        .runs-weight {
            font-weight: lighter;
            color: #9f9f9f;
        }
        th {
            text-align: left;
        }

        .team-flag {
            padding-left: 10px;
            padding-top: 20px;

            .team-row-flag-default {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                float: left;
            }
        }
    }

    .stat-points-table{
        margin-top: 10px;

        .runs-weight {
            font-weight: lighter;
            color: #9f9f9f;
        }
        th {
            text-align: left;
        }

        .player-row {
            padding-top: 20px;
            display: inline-flex;
    
            .player-pic { 
    
            img {
                width: 40px;
                height: 40px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 50%;
            }
        }
            .player-name{
                padding-top: 3px;
                padding-left: 14px;
                font-size: 12px;
            }
            .player-description {
                font-size: 12px;
                color: #aaa!important;
                padding-left: 14px;
                font-size: 11px;
            }
        }

        .team-row-title{
            margin-top: 20px;
            margin-left: 15px;
            width: 66%;

            .team-row-player-name {
                font-size: 12px;
                font-weight: normal;
            }

            .team-row-player-country {
                font-size: 11px;
                color: gray;
            }

            .padding-left-8 {
                padding-left: 8px!important;
            }
        }
    }
    
}